#side_menu{
    width: 150px;
    background-color: darkturquoise;
}

.datatable{
    width: 100%;
}

/*メニュー項目*/
.submenu{
    background-color: white;
    font-size: 20px;
}

#content{
    float: left;
    width: 799px;
    background-color: #acbcd2;
}