#response_form{
    width: 500px;
    
}

#response_input_form{
    width: 800px;
    
}

.response_form_button{
    width: 90px;
    font-size: 10px;
    
}

#threadlist_content{
    clear: both;
}

#thread_dlg{
    height: 100%;
    width: 100%;
    background-color: palegreen;
}