/*コンテンツを改行表示する*/
.preformatted{
    white-space: pre;
}

#info_createdlg{
    height: 1000px;
    width: 500px;
}

#info_create_dlg_left{
    float: left;
    width: 380px;
    height: 100px;
}

#info_create_dlg_right{
    float: left;
    width: 380px;
    height: 100px;
}

#info_create_dlg_bottom{
    width: 760px;
    clear: both;
}

#info_content{
    width: 700px;
    height: 200px;
}

.datatable{
    text-align: center;
}

#info_detail_header h2{
    margin: 0;
    background-color: appworkspace;
}

#info_create_dlg_button_area{
    width: 760px;
    text-align: right;
}

#info_create_header{
    width: 800px;
}