html{
    background-image: url("#{resource['image/bluesky.jpg']}");
    height: 100%;
    background-size: cover;
}

body{
    height: 100%;
    width: 1000px;
    margin: 0px auto;
    
}


.left-box-1{
      float : left;
      width : 90%;
      height : 90%;
      /*border : 1px solid #000;*/
      background-color: rgba(173,216,230,0.5);
      margin-top: 30px;
      }
      
.example1{
    width: 250px;
    height: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 40%;
    position: fixed;
    margin: auto;
      }
      
.left-box-2{
      float : right ;
      width : 45% ;
      height : 90% ;
      /*border : 1px solid #000 ;*/
      margin: 30px 30px 30px 30px;
      background-color: rgba(176,196,222,0.8);
      }
      
      h2{
          text-align: center;
      }

      h3{
        width: 400px;
        top: 70%;
        bottom: 0;
        left: 0;
        right: 35%;
        position: fixed;
        margin: auto;
        
      }
      
      h1{
        width: 250px;
        height: 250px;
        top: 0;
        bottom: 30%;
        left: 0;
        right: 33%;
        position: fixed;
        margin: auto;
        font-size: 70px;
            
      }
      
      
      
      #content{
          width: 95%;
          text-align: right;
          margin: 150px auto auto auto;
          /*border: 1px solid;*/
      }